body {
    background-color: #181818;
    position: relative;
    font-family: 'Turret Road', cursive;
}

/* navbar */

nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.navbar ul {
    font-size: 28px;
    margin-bottom: 0px;
}

.navbar ul:hover{
    cursor: pointer;
}

.navbar li {
    color: white;
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-right: 15px;
}

li>a:hover{
    text-decoration: none;
    color: white;
}

li>a{
    color: white;
}

#menu>i{
    overflow: hidden;
    transition-duration: 1s;
    transition-property: transform;
}

#menu>i:hover {
    cursor: pointer;
    color: #d9a618;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.inactive {
    display: none;
}

.hidden {
    visibility: hidden;
}


/* main */

.main {
    color: white;
    margin-bottom: 20px;
}

.main__profile {
    padding-top: 70px;
   
}

.main__profile_img {
    width: 350px;
    height: 350px;
    border-radius: 1000px;
    object-fit: cover;
}

/* about */

.about{
    padding: 50px 0px;
    color: #181818;
    position: relative;
}
.about__absolute{
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
}
.about:hover .about__absolute{
    display: none;
    transition: 1s ease-in-out;
}

.about:hover{
    background-color: white;
    transition: 1s ease-in-out;
    z-index: 2;
}

.one:hover ~ hr{
    visibility: visible;
}

.two:hover ~ hr {
    margin-left: 29%;
    width: 31%;
    visibility: visible;
}
  
.three:hover ~ hr {
    margin-left: 66%;
    width: 30%;
    visibility: visible;
}
  
hr {
    height: .25rem;
    width: 22%;
    margin: 0;
    visibility: hidden;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
}

/* projects */

.projects{
    padding: 50px 0px;
    color: #181818;
    position: relative;
}

.project>a{
    color: #181818;
}

.project{
    margin-bottom: 20px;
}

.projects__absolute{
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
}
.projects:hover .projects__absolute{
    display: none;
    transition: 1s ease-in-out;
}

.projects:hover{
    background-color: white;
    transition: 1s ease-in-out;
}



@media only screen and (max-width: 575px) {
    .navbar{
        padding-right: 25px;
    }
    .navbar ul{
        font-size: 24px;
    }
    .main, .about, .projects{
        text-align: center;
    }
    hr{
        width: 21%;
    }
    .two:hover ~ hr {
        width: 30%;
    }
}

@media only screen and (max-width: 434px) {
    .navbar ul{
        font-size: 18px;
    }

    .main__profile_img{
        width: 270px;
        height: 270px;
    }
    hr{
        width: 20%;
    }
    .two:hover ~ hr {
        width: 29%;
    }
}

@media only screen and (max-width: 363px) {
    .navbar ul{
        font-size: 16px;
    }
    #menu, #menuList{
        padding-left: 20px;
    }
    .two:hover ~ hr {
        width: 28%;
    }
    .three:hover ~ hr {
        width: 28%;
    }
}