body{
    background-image: url(/images/background_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    color: white;
}

.navbar li{
    color: white;
    list-style-type: none;
    display: inline;
    padding-right: 15px;
}

.navbar ul{
    font-size: 24px;
    margin-bottom: 0px;
}
