body{
    background-image: url(/images/background_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: flex-end;
    color: white;
}

.navbar ul{
    font-size: 24px;
    margin-bottom: 0px;
}

.navbar li{
    color: white;
    list-style-type: none;
    display: inline;
    padding-right: 15px;
}

.menu{
    position: relative;
    width: 30px;
    height: 30px;
}

.menu>i{
    position: absolute;
    right: 15px;
}

.inactive{
    display: none;
}

.hidden{
    visibility: hidden;
}

/* main */

.main{
    color: white;
}

.main__profile{
    width: 300px;
    height: auto;
}

.main__profile_avatar{
    width: 100%;
}